body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo {
    background: url("../Resources/djmoney.png") no-repeat; 
    width: 256px; 
    height: 130px;
    float: left;

}
.poslovica { margin-left: 256px; height:130px; text-align: center; padding-top: 20px;
}
footer { clear:both;
}
.ArticleHeader, .ArticleHeader a {
    font: "Helvetica Neue",​Helvetica,​Arial,​sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(34,34,34)
}
    .ArticleHeader a:hover {
        color: #ff6a00;
    }
.ArticleContent {
    font: "Helvetica Neue",​Helvetica,​Arial,​sans-serif;
    font-size: 16px;
    font-weight:400;
}