
@{
    ViewBag.Title = "О проекте";
}

<h2>О проекте.</h2>

<div class="col-lg-pull-4 ArticleContent">
    <p>Как стать богатым?</p>
    <P>Как сделать так, чтобы денег хватало на всё?</P>
    <p>Очень просто: думайте о деньгах!</p> 
    <p>
        Визуализируйте своё богатство, представляйте себя преуспевающим,
        богатым, счастливым. Повторяйте денежные аффирмации: "Я денежный
        магнит, У меня много денег", и т.д.
    </p>
</div>
<div class="col-lg-pull-4 ArticleContent">
    <p>Вы пробовали так делать?</p>
    <P>Я пробовал. Это в самом деле работает.</P>
    <p>Но... есть проблемка... </p> 
    <p>Повторять аффирмации быстро надоедает, 
    визуализация без видимого результата тоже докучает, 
    приходится иной раз себя заставлять, эффективность резко снижается, 
    богатство застревает на полпути. 
    </p>

</div>

<div class="col-lg-pull-4 ArticleContent">
    <p> сайт предлагает простое решение, чтобы думать о деньгах было не скучно. Читайте реальные денежные истории от разных людей!</p>

    <p>>Кому повезло, кому не очень, кто нашёл деньги, кто потерял,
    кто выиграл сумасшедший приз, а кто сорвал куш в казино.
    В любом случае, пока вы держите в голове мысли о деньгах,
    они постепенно проникают в ваше подсознание, вы превращаетесь
    в денежный магнит, деньги сами приходят в вашу жизнь
    порой неожиданными путями.</p>

    <p>>Вместо скучных аффирмаций -- интересные истории о деньгах.</p>
    <p>Заходите на наш сайт каждый день, читайте денежные истории, думайте о деньгах, визуализируйте богатство и оно неминуемо придёт в вашу жизнь.</p>

    <p>Да, и самое главное!</p>
    <P>На нашем сайте можно не только думать о деньгах, но и получать их. Расскажите свою историю и получите 25 рублей.</P>

    <p>Вот так просто.</p>
</div>