@model djMoney.Models.Article

@{
    ViewBag.Title = "Отлично";
}

<h2>Добавление истории прошло успешно</h2>
<p>Ваша история добавлена</p>
<p>Она называется <strong> @Model.Title</strong></p>
<p>@Html.ActionLink("Вернуться на главную страницу", "Index", "Home")</p>


<h3>Ошибка: @ViewBag.errorsql</h3>
<h3>Запрос: @ViewBag.query</h3>

