<div class="col-lg-pull-8 nav-pills">
    <h2>Театральное воровство</h2>
    <div class="col-lg-pull-8">
        2013-11-14 06:30:46
    </div>
    <div class="col-lg-pull-8 nav-pills">
        <p>


            Во времена, когда большинство народу стояло ещё на базаре, я был свидетелем того, как ловкие кидалы украли сумку у человека, который на ней сидит и продаёт товар. Схема была проста и фантастично-действенной. К товарищу, который сидит на сумке и продаёт свой товар подходит \"покупатель\". Несколько других сообщников находятся за спиной продавца. \"Покупатель\" рассматривает, выбирает вещь, спрашивает цену и подаёт деньги за товар в руки. Поскольку товар уже у покупателя, он начинает спокойно отходить. Продавец пересчитывает деньги и обнаруживает, что денег не хватает.
        </p><p>
            Вскакивает (!) со своей сумки и кричит вдогонку, что денег не хватает. \"Удивлённый\" покупатель доплачивает, в этот момент за спиной продавца один хватает сумку и передаёт её второму, второй кидает третьему, а третий быстро исчезает. \"Счастливый\" продавец, получив остаток, садится задницей на голый асфальт - его сумка уже далеко... И кого искать - непонятно.
        </p>
    </div>
    <ul class="nav nav-pills">
        <li class="active">@Html.ActionLink("57 $", "Index", "Home")</li>

    </ul>
</div>
